{% comment %}
  HeleneGreat
  Snippet de barre de progression pour la livraison gratuite.
  Ce snippet affiche une barre de progression dans le panier indiquant combien il reste à l'utilisateur pour bénéficier de la livraison gratuite.
  Il est conçu pour être utilisé dans un thème Shopify, en particulier avec le thème Dawn.
{% endcomment %}

{% # Récupération de la couleur de la barre de progression depuis les paramètres du thème %}
{% assign progress_shipping_bar_color = settings.shipping_bar_color %}
{% # Inclusion du fichier CSS externe pour la barre de progression %}
{{ 'shipping-gift-bars.css' | asset_url | stylesheet_tag }}

<div class="upsell-container">
  {% # Définition des variables pour le calcul de la progression. Les montants sont multipliés par 100 car les prix sont stockés en centimes. %}
  {% assign shipping_value = settings.minimum_free_shipping | times: 100 %}
  {% # Montant minimum pour la livraison gratuite %}
  {% assign cart_total = cart.total_price %}
  {% # Total actuel du panier %}
  {% assign shipping_value_left = shipping_value | minus: cart_total %}
  {% # Montant restant avant d'obtenir la livraison gratuite %}
  {% assign shipping_percentage_fraction = cart_total | times: 100 | divided_by: shipping_value %}
  {% # Pourcentage de progression %}

  <p class="shipping-message">
    {% if shipping_value_left > 0 %}
      <span class="free_shipping_notice"
        >Plus que {{ shipping_value_left | money }} pour bénéficier de la livraison gratuite.</span
      >
    {% elsif shipping_value_left <= 0 %}
      <span>Vous bénéficiez de la <b>livraison gratuite</b> !</span>
    {% endif %}
  </p>

  <div class="progress-bar">
    {% # Barre de progression dynamique %}
    <div class="progress-bar-done shipping" data-progress="loading"><span></span></div>
    {% # Icône affichée lorsque la livraison gratuite est atteinte %}
    <div class="free-shipping-icon {% if shipping_value_left <= 0 %} iconicion shipping {% endif %}">
      {{- 'shipping.svg' | inline_asset_content -}}
    </div>
  </div>
</div>

{% # Définition des variables CSS personnalisées pour la barre de progression %}
<style>
  :root {
      --progress-shipping-bar-color: {{ progress_shipping_bar_color }};
      --progress-shipping-bar-color-lighten-10: {{ progress_shipping_bar_color | color_lighten: 10 }};
      --progress-shipping-bar-color-lighten-20: {{ progress_shipping_bar_color | color_lighten: 20 }};
      --shipping-percentage: {{ shipping_percentage_fraction }}%;
  }
</style>
