{% comment %}
  HeleneGreat
  Snippet de barre de progression pour obtenir un cadeau gratuit.
  Ce snippet affiche une barre de progression dans le panier indiquant combien il reste à l'utilisateur pour bénéficier d'un cadeau gratuit.
  Il est conçu pour être utilisé dans un thème Shopify, en particulier avec le thème Dawn.
{% endcomment %}

{% # Récupération de la couleur de la barre de progression depuis les paramètres du thème %}
{% assign progress_gift_bar_color = settings.gift_bar_color %}
{% # Inclusion du fichier CSS externe pour la barre de progression %}
{{ 'shipping-gift-bars.css' | asset_url | stylesheet_tag }}
{% # Si aucun produit n'est assigné par défaut, %}
{% assign gift_product_id = settings.gift_product.variants.first.id | default: 54254704099654 %}
{% comment %} {% assign gift_product_id = settings.gift_product | default: 54254704099654 %} {% endcomment %}
{% comment %} {% assign gift_product_id = 54254704099654 %} {% endcomment %}
{% # VARIANT du cadeau %}
{% # pour le moment ce n'est pas paramétrable car le snippet me renvoit le nom du produit, pas son ID %}

<div class="upsell-container">
  {% # Définition des variables pour le calcul de la progression. Les montants sont multipliés par 100 car les prix sont stockés en centimes. %}
  {% # Montant minimum pour le cadeau offert %}
  {% assign gift_value = settings.minimum_free_gift | times: 100 %}
  {% # Total actuel du panier %}
  {% assign cart_total = cart.total_price %}
  {% # Montant restant avant d'obtenir le cadeau offert : on soustrait le montant du cadeau au cas où il est > 0€ %}
  {% assign gift_value_left = gift_value | minus: cart_total | minus: gift_product.price %}
  {% # Pourcentage de progression %}
  {% assign gift_percentage_fraction = cart_total | times: 100 | divided_by: gift_value %}

  <p class="gift-message">
    {% if gift_value_left > 0 %}
      <span class="free_gift_notice">Plus que {{ gift_value_left | money }} pour recevoir un cadeau offert.</span>
    {% elsif gift_value_left <= 0 %}
      <span>Vous recevrez un <b>cadeau offert</b> !</span>
    {% endif %}
  </p>

  <div class="progress-bar">
    {% # Barre de progression dynamique %}
    <div class="progress-bar-done gift" data-progress="loading"><span></span></div>
    {% # Icône affichée lorsque la livraison gratuite est atteinte %}
    <div class="free-gift-icon {% if gift_value_left <= 0 %} iconicion gift {% endif %}">
      {{- 'gift.svg' | inline_asset_content -}}
    </div>
  </div>
</div>

{% # Définition des variables CSS personnalisées pour la barre de progression %}
<style>
  :root {
      --progress-gift-bar-color: {{ progress_gift_bar_color }};
      --progress-gift-bar-color-lighten-10: {{ progress_gift_bar_color | color_lighten: 10 }};
      --progress-gift-bar-color-lighten-20: {{ progress_gift_bar_color | color_lighten: 20 }};
      --gift-percentage: {{ gift_percentage_fraction }}%;
  }
</style>

{% # Récupération des variables du snippet pour les injecter aux variables JS %}
<script>
  window.freeGiftSettings = {
    giftProductId: {{ gift_product_id }},
    minimumCartValue: {{ gift_value }}
  };
</script>

{% # Inclusion du fichier JS externe pour l'ajout du produit offert dans le panier %}
<script src="{{ 'free-gift.js' | asset_url }}" defer="defer"></script>
